/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
.buttonEx {
		color: #900;
		font-weight: bold;
		}

.asterisk_input:after {
content:" *"; 
color: #e32;
position: absolute; 
margin: -7px 22px 0px 0px; 
font-size: xx-large; 
padding: 0 2px 0 0; }